{% load bootstrap4 %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}

{#{% block content %}#}
{#<div class="search-container">#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        <input type="text" name="query" placeholder="Ask a question...">#}
{#        <button type="submit">ASK!</button>#}
{#    </form>#}
{#</div>#}
{##}
{#{% endblock %}#}



{% block content %}
    <form class="d-flex" action="{% url 'search' %}" method="get">
        <input class="form-control me-2" type="text" name="q" placeholder="Enter your question...">
        <button class="btn btn-success" style="margin-left: 10px;" type="submit">ASK</button>
    </form>

{% endblock %}







